{% extends "layout.html" %}

{% block title %}ETC{% endblock %}

{% block body %}
    <h1 class="text-center">OTHER USEFUL INFO I NEED</h1>
    
    <h3>Blood Pressure Stages</h3>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">CATEGORY</th>
                <th scope="col">SYSTOLIC</th>
                <th scope="col"></th>
                <th scope="col">DIASTOLIC</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Normal</th>
                <td>Less than 120</td>
                <td>and</td>
                <td>Less than 80</td>
            </tr>
            <tr>
                <th scope="row">Elevated</th>
                <td>120 - 129</td>
                <td>and</td>
                <td>Less than 80</td>
            </tr>
            <tr>
                <th scope="row">Hypertension Stage 1</th>
                <td>130 - 139</td>
                <td>or</td>
                <td>80 - 89</td>
            </tr>
            <tr>
                <th scope="row">Hypertension Stage 2</th>
                <td>140 or higher</td>
                <td>or</td>
                <td>90 or higher</td>
            </tr>
            <tr>
                <th scope="row">Hypertension Stage 3</th>
                <td>Higher than 180</td>
                <td>and/or</td>
                <td>Higher than 120</td>
            </tr>
        </tbody>
    </table>
    
    <br><hr><br>
    
    <h3>Calories for My Daily/Favorite Foods</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">FOOD</th>
                <th scope="col">CALORIES (kcal)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1 Bowl of Rice</th>
                <td>250</td>
            </tr>
            <tr>
                <th scope="row">1 Bowl of Korean Soybean Paste Stew</th>
                <td>176</td>
            </tr>
            <tr>
                <th scope="row">Kimchi (60g)</th>
                <td>13</td>
            </tr>
            <tr>
                <th scope="row">Bulgogi (100g)</th>
                <td>489</td>
            </tr>
            <tr>
                <th scope="row">Seasoned Spinach (80g)</th>
                <td>54</td>
            </tr>
            <tr>
                <th scope="row">Stir-fried anchovies (40g)</th>
                <td>69</td>
            </tr>
            <tr>
                <th scope="row">Ramen (1 pack)</th>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">Pickled Radish (40g)</th>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">McDonald's Big Mac</th>
                <td>563</td>
            </tr>
            <tr>
                <th scope="row">McDonald's French Fries (Small)</th>
                <td>220</td>
            </tr>
            <tr>
                <th scope="row">1 Cup of Sprite (Small)</th>
                <td>140</td>
            </tr>
        </tbody>
    </table>
    
    <br><hr><br>

    
    <h3>Charges for Public Transportation</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">TRANSPORTATION</th>
                <th scope="col">FARE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">MTA Subway</th>
                <td>$2.75<br>(Transfers are good within two hours of when you paid the fare.)</td>
            </tr>
            <tr>
                <th scope="row">MTA Bus</th>
                <td>$2.75<br>(Transfers are good within two hours of when you paid the fare.)</td>
            </tr>
            <tr>
                <th scope="row" rowspan="3">LIRR<br>(Broadway - Penn Station)</th>
                <td>Peak: $10.75</td>
            </tr>
            <tr>
                <td>Off Peak: $7.75</td>
            </tr>
            <tr>
                <td>Weekends: $4.50</td>
            </tr>
        </tbody>
    </table>
    
    <br><hr><br>
{% endblock %}
