{% extends "layout.html" %}

{% block title %}My Webpage{% endblock %}

{% block body %}
    <div>
        <img id="main-pic" src="http://cdn.pixabay.com/photo/2015/03/26/09/39/tools-690038_960_720.jpg">
    </div>

    <div>
        <h3 class="intro">Welcome to My Toolbox.</h3>
        <p id="intro-p" class="intro lead">
            Our life is full of tasks, and we need different tools for help. In this website, I prepared the <span style="font-weight:bold; font-style: italic; color: #5A5A5A">TOOLBOX</span> I need. The To-Do List app is needed for me as any normal person who has limited capacity of memory as human being; several converters are useful for me because I have different backgrounds on units as a foreign-born. There are some other useful information page, too; plus, the Google search bar is a bonus. I hope these tools may also help some other people as well as me!
        </p>
    </div>
{% endblock %}
